{% assign notVerifiable =
  '<p>The app cannot be independently verified. If the provider puts your funds at
  risk on purpose or by accident, you will probably not know about the issue
  before people start losing money. If the provider is more criminally inclined
  he might have collected all the backups of all the wallets, ready to be
  emptied at the press of a button. The app might have a formidable track record
  but out of distress or change in management turns out to be evil from some
  point on, with nobody outside ever knowing before it is too late.</p>' %}

<h1 id="verdictExplained">Verdict Explained</h1>
<p>{% include verdictBadge.html verdict=page.verdict type='medium' %}<br><br>
{{ site.data.verdicts[page.verdict].message }}</p>
{% case page.verdict %}
  {% when "wip" %}
    <p>This app still needs to be evaluated. We only gathered name and logo and
    maybe some more details but we have not really looked much into it yet.</p>
  {% when "fewusers" %}
    <p>This app still needs to be evaluated but before that, gain some users. In
    the Play Store there is an infinite list of "wallets" and we focus on those
    that have the biggest impact if things go wrong.</p>
  {% when "defunct" %}
    <p>This app is no more. The provider removed it from the platform and/or
      stopped supporting it.</p>
  {% when "nobtc" %}
    <p>This app appears to not be a bitcoin wallet but might serve as a relevant
    app for other tokens or currencies that we currently are not looking into
    yet. Feel free to comment on our
    <a href="https://gitlab.com/walletscrutiny/walletScrutinyCom/issues">issue
    tracker</a> if you think we missed
    something.</p>
  {% when "custodial" %}
    <p>This verdict means that the app might or might not publish source code and maybe
    it is even possible to reproduce the build from the source code but as it is
    custodial, the provider already has exclusive control over the funds, so it
    is not a wallet where you would be in sole control of your funds.</p>
    <p>Custodial wallets might not be the worst option for all users.<ul>
      <li>Do your own research if the provider is trust-worthy.</li>
      <li>Do you know at least enough about them so you can sue them when you have to?</li>
      <li>Is the provider under a jurisdiction that will allow them to release
        your funds when you need them?</li>
      <li>Is the provider taking security measures proportional to the amount of
        funds secured? If they have a million users and don't use cold storage,
        that hot wallet is a million times more valuable for hackers to attack.
        A million times more effort will be taken by hackers to infiltrate their
        security systems. Will they detect when for some software error a hacker
        is spending other people's money before the losses are unrecoverable?</li>
    </ul></p>
    {{ notVerifiable }}
  {% when "nowallet" %}
    <p>This appears to not be an app to send and receive bitcoins. We will
    probably remove this app from the project.</p>
  {% when "nosource" %}
    <p>This verdict means that we could not find any source to compile the app from.
    Internally the company might do everything right but as we can't verify it,
    there is nothing protecting the user from an exit-scam where the provider
    releases an app that leaks the keys to the servers.</p>
    {{ notVerifiable }}
  {% when "obfuscated" %}
    <p>This verdict means that the app could not be decompiled.
    In benign cases code symbols are replaced by short strings to make the app
    smaller but for the sake of transparency this should not be done for 
    non-reproducible Bitcoin wallets. (Reproducible wallets could obfuscate the
    app for size improvements as the reproducibility would assure the
    auditability.)</p>
    {{ notVerifiable }}
  {% when "nonverifiable" %}
    <p>This verdict means that the provider did share some source code but that we
    could not verify that this source code matches the released app. This might
    be due to the source being released later than the app or due to the
    provided instructions on how to compile the app not being sufficient or
    due to the provider excluding parts from the public source code. In any
    case, the result is a discrepancy between the app we can create and the app
    we can find on GooglePlay and any discrepancy might leak your backup to the
    server on purpose or by accident.</p>
    <p>As we cannot verify that the source provided is the source the app was
    compiled from, this category is only slightly better than <strong>closed
    source</strong> but for now we have hope projects come around and fix
    verifiability issues.</p>
    {{ notVerifiable }}
  {% when "reproducible" %}
    <p>The app can be independently verified. If the provider puts your funds at
    risk on purpose or by accident, security researchers can see this if they care
    to look. It also means that inside the company engineers can verify that the
    release manager is releasing the app based on code known to all engineers on
    the team. A scammer would
    have to work under the potential eyes of security researchers. He would have
    to take more effort in hiding any exploit.</p>
    <p>"Reproducible" does not mean "verified". There is good reason to believe that
    security researchers as of today would not detect very blatant backdoors in
    the public source code before it gets exploited, much less if the attacker
    takes moderate efforts to hide it.</p>
    <p>To understand why some lines of difference are ok and others not one has
    to consider how app signing works. Android supports currently 3 signing
    schemes and in <a href="https://source.android.com/security/apksigning/v2#v1-verification">
    version 1 signing</a> the signature is put inside the application file. As
    the tester must not have the release signing key, those files necessarily
    are missing or differ from the version on Google Play. The file
    "apktool.yml" was never part of the app and is generated by the analysis
    tool "<a href="https://ibotpeaches.github.io/Apktool/">apktool</a>".</p>
{% endcase %}
